/* Import de police */
	@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic,700,800,800italic);

/* Class générique */
	.clear { clear:both; }
	.hidden { display:none }
	.textLeft { text-align:left; }
	.textCenter { text-align:center; }
	.textRight { text-align:right; }
	
	.fontSize20 { font-size:20px; }
	.fontSize40 { font-size:40px; }

/* Toutes les pages */
	body { background-color:#FFFFFF; margin:0; padding:0; font-family:"Open Sans"; font-size:13px; color:#444444; }
	
	input[type="text"],
	input[type="email"],
	textarea,
	select.select { background-color:#fbfbfb; border:1px solid #d5d5d5; line-height:19px; padding:6px 12px; width:80%; }
	
	textarea { width:90%; height:200px; }
	
	select.select { width:87%; }
	
	input[type="text"]:focus,
	input[type="email"]:focus,
	textarea:focus,
	select.select:focus { background-color:#fff; border-color:rgba(0, 0, 0, 0.25); box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset; color:#262626; }
	
	.btn,
	input[type="button"],
	input[type="submit"],
	button { cursor:pointer; background-color:#5db2ff; color:#ffffff; padding:6px 12px; font-weight:bold; border-radius:2px; border:0; }
	
	.btn:hover,
	input[type="button"]:hover,
	input[type="submit"]:hover,
	button:hover { background-color:#70BAFD; }
	
/* Loader */
	.loader { text-align:center; }
		.loader img { width:50px; }

/* Messages */
	.message { color:#FFF; display:block; margin:10px; padding:10px; border-radius:2px; }
		.message.succes { background-color:#a0d468; }
		.message.warning { background-color:#ffce55; }
		.message.error { background-color:#ed4e2a; }
		
	.colorRouge { color:#ed4e2a; }
	.colorNoir { color:#000000; }
	.colorBleu { color:#39BEE7; }
	.colorVert { color:#a0d468; }
		
/* Header */
	#header { position:absolute; top:0; right:0; height:40px; left:0; background-color:#39BEE7; padding-left:20px; font-weight:bold; color:#FFFFFF; font-size:25px; line-height:40px; }
	
/* Menu */
	#menu { position:absolute; top:40px; bottom:40px; left:0; width:180px; border-right:1px solid #39BEE7; }
		#menu ul { margin:0; padding:0; margin-top:5px; list-style:none; }
			#menu ul li { border-left:5px solid #FFFFFF; lline-height:20px; margin:7px 2px; padding-left:7px; }
				#menu ul li.selected { border-color:#39BEE7; }
				#menu ul li a { color:#515253; font-weight:normal; font-size:15px; }
					#menu ul li a span.fa { margin-right:5px; width:25px; }
					#menu ul li.selected a { color:#23b7e5; }
					
/* content */
	#content { position:absolute; top:40px; bottom:40px; left:180px; right:0; overflow:auto; }
		#content .contentTitre { padding:10px; border-bottom:1px solid #39BEE7; font-size:20px; }
		#content .contentContent { padding:10px; }

/* Footer */
	#footer { position:absolute; bottom:0; right:0; height:40px; left:0; background-color:#39BEE7; line-height:40px; text-align:center; }

/* Page Message */
	#pageMessage { }
		#pageMessage .dataTableContainer { margin:20px; }
		
/* Page Groupe */
	#pageGroupe { }
		#pageGroupe .sonde { border:1px solid #dcdcdc; background-color:#f5f5f5; float:left; width:200px; height:200px; margin:10px; }
			#pageGroupe .sonde .titre { font-size:14px; padding:5px; text-align:center; border-bottom:1px solid #dcdcdc; }
			#pageGroupe .sonde .content { }
				#pageGroupe .sonde .content .image { float:left; width:49.9%; text-align:center; }
					#pageGroupe .sonde .content .image img { width:90%; }
				
			#pageGroupe .sonde.typeSonde5 { }
				#pageGroupe .sonde.typeSonde5 .imageSeule { text-align:center; }
					#pageGroupe .sonde.typeSonde5 .imageSeule img { height:140px; margin-top:10px; cursor:pointer; }
					#pageGroupe .sonde.typeSonde5 .blocBtn { text-align:right; margin-top:-23px; margin-right:10px; }

/* Fin du fichier CSS */